EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
API_BASE_URL=https://casanirvana-backend.onrender.com
EXPO_PUBLIC_API_BASE_URL=https://casanirvana-backend.onrender.com
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SERVICE_KEY=
