EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
API_BASE_URL=https://casanirvana-backend.onrender.com
EXPO_PUBLIC_API_BASE_URL=https://casanirvana-backend.onrender.com
EXPO_PUBLIC_MONITORING_ENABLED=true
EXPO_PUBLIC_APP_RELEASE=
EXPO_PUBLIC_APP_ENVIRONMENT=production
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SERVICE_KEY=
